# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/europrimus/www/img.europrimus.ninja"
PassengerBaseURI "/"
PassengerPython "/home/europrimus/virtualenv/www/img.europrimus.ninja/3.9/bin/python3.9"
PassengerAppLogFile "/home/europrimus/logs/img.europrimus.ninja-passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END